<div class="chat_ftr">
    <div class="chat_pdng">
        <div class="row-spb input_bdr">
            <div class="row-vrt-c pl10 input_width">
                <span class="row-b">
                    <img src="../../assets/sentiment_satisfied_alt.svg" alt="sentiment_satisfied_alt">
                </span>
                <input type="text" placeholder="write your message">
            </div>
            <div class="row-b">
                <img src="../../assets/attach_file.svg" alt="attach_file">
            </div>
        </div>
        <button>
            <img src="../../assets/send.svg" alt="send.svg">
        </button>
    </div>
</div>