<div class="chat_msg_view">
    <div class="row-b msg_pdng">
        <div class="row-b">
            <div class="profile_icon">
                <img src="../../assets/user3.png" alt="">
            </div> 
            <div class="left_msg_text">
                <span>Hello are you there!</span> 
            </div>
        </div>
        <div class="right_align">
            <div class="">
                <div class="right_msg_text">
                    <span>Hello How can we help you...</span> 
                </div>
                <div class="right_msg_text">
                    <span>Hello How can we help you...</span> 
                </div>
                <div class="right_msg_text">
                    <span>Hello How can we help you...</span> 
                </div>
                <div class="right_msg_text">
                    <span>Hello How can we help you...</span> 
                </div>
                
                <p class="time_stamp">10:27AM</p>
            </div>
        </div>
    </div>
</div>