<div>
    <!-- chat box view -->
    <div class="row-b">
        <div class="chat_view_container">
            <!-- Media channel header -->
            <div class="hdr_section row-spb">
                <ul class="row-vrt-c">
                    <li *ngFor="let item of channelsList" [ngClass]="{'active': activeTabId === item?.name}"
                        (click)="changeTab(item.name)">
                        <img src="assets/{{item?.icon}}" [alt]="item?.name" style="height: 20px;width: 20px;">
                        <div class="count_text row-vrt-c">
                            <p>{{item?.name}}</p>
                            <span *ngIf="item?.unReadCount">{{item?.unReadCount}}</span>
                        </div>
                    </li>
                </ul>
                <div class="close_btn">
                    <button (click)="closeButton()">
                        <img src="../../assets/close-btn.svg" alt="close-btn" style="width: 10px;height: 10px;">
                    </button>
                </div>
            </div>
            <!-- Users List -->
            <div class="user_list_container">
                <div class="hdr_section">
                    <div class="user_scroll customScrollBarHar">
                        <ul class="row-b" *ngIf="activeTabId === 'Website'">
                            <li class="row-vrt-c user_list" *ngFor="let user of webUserList">
                                <img src="../../assets/{{user.img}}" alt="">
                            </li>
                        </ul>
                        <ul class="row-b" *ngIf="activeTabId === 'WhatsApp'">
                            <li class="row-vrt-c user_list" *ngFor="let user of userList">
                                <img src="../../assets/{{user.img}}" alt="">
                            </li>
                        </ul>
                        <ul class="row-b" *ngIf="activeTabId === 'Messenger'">
                            <li class="row-vrt-c user_list" *ngFor="let user of msgnrUserList">
                                <img src="../../assets/{{user.img}}" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="chevron_right" *ngIf="userList.length >= 10">
                        <img src="../../assets/chevron-right.svg" alt="chevron-right">
                    </div>
                </div>
            </div>
            <!-- profile message  -->
            <div class="display_msg_container">
                <div class="hdr_section">
                    <div class="row-vrt-c pl10">
                        <div class="user_list">
                            <img src="../../assets/user3.png" alt="user3">
                        </div>
                        <div class="display_text">
                            <p>Angelina Gadne message on State Bank of India</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chat body view -->
            <div>
                <div class="chat_bdy_container">
                    <app-chat-body></app-chat-body>
                    <!-- chat footer -->
                    <app-chat-footer></app-chat-footer>
                </div>
            </div>
        </div>
    </div>
</div>