
.form_conatiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .form_view {
        max-width: 350px;
    }
}

.input_field {
    label {
        font-size: 14px;
    }

    input {
        width: 100%;
        height: 36px;
        outline: none;
        border: 1px solid #707070;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: normal;
        padding-left: 10px;
        border-radius: 5px;
    }
}

.submit_btn {
    button {
        width: 120px;
        height: 38px;
        border-radius: 10px;
        background-color: #ec316c;
        color: #ffffff;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        cursor: pointer;
    }
}