.chat_icon {
    width: 60px;
    height: 60px;
    background-color: #3467eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}